<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body style="text-align: center;">

	<% include partials/header.ejs %>
	
	
		<br />
		<a href="/adminCalendar"><button> Calendar</button></a>
		<a href="/logout"><button>Log Out</button></a>
		<br />
	
	<ul>
    <% results.forEach(function(r) { %>
        <li>ID: <%=r.id %> &nbsp;&nbsp;&nbsp;&nbsp; =<%= r.firstname %> <%= r.lastname %> : <%= r.day.toDateString() %> - <%= r.quantity %> <%= r.name %>:     contact info: email: <%=r.email %> phone: <%=r.phone %></li>
    <% }); %>
	</ul>
	
		
	<h1 style="color: red;"> DELETE RESERVATION </h1>
	<br />
	<form action="delete" method="post" onsubmit="return validateDelete()">
		<input id="id" type="number" placeholder="Reservation ID" name="resId">
		<input type="submit" value= "DELETE">
	</form>
	<br />
	<% include partials/footer %>
	
</body>
</html>
