<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body style="text-align: center;">

	<% include partials/header.ejs %>
	
	
	<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.firstname %> <%= r.lastname %> : <%= r.day %> - <%= r.quantity %> <%= r.name %></li>
    <% }); %>
	</ul>
	
		<form action="createItem" method="post">
			<h2>Create a new item</h2><br />
			<input type="text" placeholder="name" name="name"><br />
			<input type="text" placeholder="description" name="description"><br />
			<input type="text" placeholder="quantity" name="quantity"><br />
			<input type="submit">
		</form>
		<br />
		<form action="createReservation" method="post">
			<h2>Create a new reservation</h2>
			<br />
			<input type="text" placeholder="Person's first name" name="first"> <br />
			<input type="text" placeholder="person's last name" name="last"><br />
			<input type="text" placeholder="person's email" name="email"><br />
			<input type="text" placeholder="person's phone number" name="phone"><br />
			<select name = "item" >
				<% results.forEach(function(r) { %>
					<option value="<%= r.name %>"><%= r.name %></option>
				<% }); %>
			</select> <br/>
			<input type="text" placeholder="amount" name="amount"><br />
			<input type="text" placeholder="date 'ex: 1990-03-23'" name="date"><br />
			<input type="submit">
		</form>
		<a href="/logout"><button>Log Out</button></a>
	<% include partials/footer %>
	
</body>
</html>
